# vendor
/vendor/*
!/vendor/.gitkeep

# cache - twig
/src/var/cache/twig/*
!/src/var/cache/twig/.gitkeep

# cache - transients
/src/var/cache/transients/*
!/src/var/cache/transients/.gitkeep

# cache - transients
/src/var/cache/router/*
!/src/var/cache/router/.gitkeep

# logs
/src/var/logs/*
!/src/var/logs/.gitkeep

# node_modules
node_modules