# vendor
/vendor/*
!/vendor/.gitkeep
/tools/php-cs-fixer/vendor/*
!/tools/php-cs-fixer/vendor/.gitkeep

# cache - twig
/var/cache/twig/*
!/var/cache/twig/.gitkeep

# cache - transients
/var/cache/transients/*
!/var/cache/transients/.gitkeep

# cache - transients
/var/cache/router/*
!/var/cache/router/.gitkeep

# logs
/var/logs/*
!/var/logs/.gitkeep

# node_modules
node_modules

# captainhook
.php-cs-fixer.cache

# protected
/public/assets/protected/*
!/public/assets/protected/.htaccess

# documents
/public/assets/documents/*
!/public/assets/documents/.gitkeep

# neovim
'\'
\
