# vendor
/vendor/*
!/vendor/.gitkeep
/tools/php-cs-fixer/vendor/*
!/tools/php-cs-fixer/vendor/.gitkeep

# cache - twig
/var/cache/twig/*
!/var/cache/twig/.gitkeep

# cache - transients
/var/cache/transients/*
!/var/cache/transients/.gitkeep

# logs
/var/logs/*
!/var/logs/.gitkeep

# storage
/var/storage/*
!/var/storage/.gitkeep

# node_modules
node_modules

# captainhook
.php-cs-fixer.cache

# protected
/public/assets/protected/*
!/public/assets/protected/.htaccess

# build
public/assets/build/*
!public/assets/build/.gitkeep

# documents
/public/assets/documents/*
!/public/assets/documents/.gitkeep
