<!DOCTYPE html>
<html lang="en-EN" data-bs-theme="dark">
  {% include 'admin/template_parts/head.html.twig' %}
  <body>
    <header></header>
    <main>
      <div id="app"></div>
    </main>
    <footer></footer>
  </body>
</html>