<!DOCTYPE html>
<html lang="en-EN" class="h-100" data-bs-theme="dark">
  {% include 'template_parts/head.html.twig' %}
  <body class="h-100">
    <header></header>
    <main class="h-100">
      <section class="container d-flex flex-column justify-content-center h-100">
        <div class="row" style="transform: translateY(-25%)">
          <div class="col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 my-5">
            <form class="d-block shadow p-4 bg-body-tertiary rounded" method="{{ formMethod }}" action="{{ formAction }}">
              <div class="mb-3">
                <label for="email" class="form-label"> Email </label>
                <input type="email" name="email" class="form-control" id="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label"> Password </label>
                <input type="password" name="password" class="form-control" id="password" required>
              </div>
              <button type="submit" class="btn btn-primary"> Login </button>
            </form>
          </div>
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>