<!DOCTYPE html>
<html lang="en-EN" data-bs-theme="dark">
  {% include 'template_parts/head.html.twig' %}
  <body>
    <header>
      {% include 'template_parts/navbar.html.twig' %}
    </header>
    <main>
      <section class="container pt-5 pb-3">
        <h1> Logs </h1>
        <h3> Web application log entries. </h3>
      </section>
      <section class="container py-3">
        <div id="logs-table-wrapper"></div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>