<!DOCTYPE html>
<html lang="en-EN" data-bs-theme="dark">
  {% include 'template_parts/head.html.twig' %}
  <body>
    <header>
      {% include 'template_parts/navbar.html.twig' %}
    </header>
    <main>
      <section class="container pt-5 pb-3">
        <div class="row">
          <div class="col-lg-6 col-md-8 col-sm-12">
            <form method="POST" enctype="multipart/form-data" action="/admin/storage/upload">
              <div class="mb-3 d-flex flex-row">
                <input class="form-control" type="file" name="files[]" id="upload" multiple>
                <button type="submit" class="btn btn-primary ms-2"> Upload </button>
              </div>
            </form>
          </div> 
        </div>
      </section>
    </main>
    <footer></footer>
  </body>
</html>