@import 'variables.scss';

div.error.debug-error {
	padding: 25px;
	margin: 5px auto;
	background-color: $white;
	border: 2px solid $red;
	position: relative;
	z-index: 1000;
}

body {
    background-color: $dark-grey;
    main {
        padding: 3.5rem 5%;
        section.title {
            text-align: center;
            color: $white;
            h1 {
                font-size: 42px;
                line-height: 2.5rem;
                font-weight: 500;
            }
            h4 {
                font-size: 22px;
                line-height: 2.5rem;
                font-weight: 500;
            }
        }
    }
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}