div.gridjs table.gridjs-table * {
    border-right: none !important;
    border-left: none !important;
}
div.gridjs table.gridjs-table,
div.gridjs table.gridjs-table tr.gridjs-tr th,
div.gridjs table.gridjs-table tr.gridjs-tr td {
    border-color: #495057 !important;
    background-color: #2b3035 !important;
    color: #ffffff !important;
    box-shadow: none !important; 
}
div.gridjs div.gridjs-footer {
    background-color: #2b3035 !important;
    color: #ffffff !important;
    border: none !important;
    box-shadow: none !important;
}
div.gridjs div.gridjs-footer div.gridjs-summary {
    color: #ffffff !important;
}
div.gridjs div.gridjs-footer div.gridjs-pages button {
    background-color: #2b3035 !important;
    border: 1px solid #495057 !important;
}
div.gridjs div.gridjs-footer div.gridjs-pages button,
div.gridjs div.gridjs-footer div.gridjs-pages button:active,
div.gridjs div.gridjs-footer div.gridjs-pages button:focus,
div.gridjs div.gridjs-footer div.gridjs-pages button:hover {
    background-color: #2b3035 !important;
    border: 1px solid #495057 !important;
}
div.gridjs-loading-bar, 
div.gridjs-loading-bar:after {
    display: none !important;
}
button.gridjs-sort-neutral {
    opacity: 1 !important;
    filter: contrast(0) !important;
}