<head>
  <meta name="description" content="{{ description }}" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <title> {{ title }} </title>
  <script type="text/javascript" src="/assets/lib/bootstrap/bootstrap.min.js" defer></script>
  <script type="text/javascript" src="/assets/lib/jquery/jquery.min.js" defer></script>
  <script type="text/javascript" src="/assets/build/runtime.js" defer></script>
  <script type="text/javascript" src="/assets/build/app.js" defer></script>
  <link rel="stylesheet" href="/assets/lib/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/build/app.css">
</head>