<!DOCTYPE html>
<html lang="en-EN" data-bs-theme="dark">
  {% include 'template_parts/head.html.twig' %}
  <body>
    <header></header>
    <main>
      <section class="container pt-5 pb-3">
        <h1> Vector </h1>
        <h3> A simple HttpFoundation framework for PHP. </h3>
      </section>
    </main>
    <footer></footer>
  </body>
</html>