<!DOCTYPE html>
<html lang="en-EN" data-bs-theme="dark">
  <head>
    <meta name="description" content="{{ description }}" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">
    <title> {{ title }} </title>
    <script type="text/javascript" src="assets/build/app.js" defer></script>
    <link rel="stylesheet" href="assets/build/app.css"> 
  </head>
  <body>
    <header></header>
    <main>
      <section class="container py-5 my-3">
        <h1 class="m-0"> Oops.. </h1>
        <h2 class="mb-3"> Something went wrong! </h2>
        <p> The content you are looking for has been removed or has never existed. 
          </br> Come back to visit us! </p>
      </section>
    </main>
    <footer></footer>
  </body>
</html>